astropy==5.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
-e git+https://github.com/mwalmsley/galaxy_mnist@375e0257bfd41acbcb7ba2e0f33c8c04d0d5beef#egg=galaxyMNIST
gpytorch==1.11
h5py==3.10.0
idna==3.4
importlib-resources==5.10.2
jaxtyping==0.2.24
joblib==1.2.0
kiwisolver==1.4.4
linear-operator==0.5.2
matplotlib==3.7.0
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyerfa==2.0.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
six==1.16.0
sklearn==0.0.post1
tabulate==0.9.0
threadpoolctl==3.1.0
torch==1.12.1+cu116
torchvision==0.13.1+cu116
typeguard==2.13.3
typing-extensions==4.4.0
urllib3==1.26.14
zipp==3.13.0
